.header_container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
}