.header_container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    
}
.top {
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    flex-direction: row;
}