.header_container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: center;
}
.link_text{
    font-size: 12px;
    margin : 2px;
    text-decoration-line: none;
}
.categoryBar {
    flaot:left;
}
.imagecontainer{
    float:left;
}
.SearchBar{
    padding-top: 1%;
}
