.myPageWrap {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 28px 40px 38px;
}
.userCard {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

.userCard > * {
    flex: 0 0 47%;
    max-width: 47%;
}
.user {
    display: flex;
}

.left {
    position: relative;
}
.imgBtn{
    margin-top: 15%;
}

.userPhoto{
    width: 250px;
    height: 250px;
    box-shadow: rgb(4 0 0 / 3%) 0px 5px 10px 0px;
}

.userContent{
    flex: 0 0 47%;
    max-width: 47%;
    font-size: 18px;
    margin-left: 40%;
}

.userName{
    margin-bottom: 10%;
}
.usersNick {
    margin-bottom: 10%;
}
.userEmail{
    margin-bottom: 10%;
}
.userPhoneNum {
    margin-bottom: 10%;
}

.nickNameChangeBtn{
    position: absolute;
    margin-left: 18%;
    border : 1px solid black;
    height : 35px;
}

.tab {

    padding-left: 0px;
    font-weight: bold;
    list-style: none;
    width:100%;
    display: flex;
    align-items: center;
    position: relative;

}
.tabTitle1 {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid #d9d4d4;
    border-left: 1px solid #d9d4d4;
    border-right: 1px solid #d9d4d4;
    border-bottom: 1px solid #d9d4d4;
    color: rgb(33, 33, 33);
}

.tabTitle1_Active {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid #d9d4d4;
    border-left: 1px solid #d9d4d4;
    border-right: 1px solid #d9d4d4;
    border-bottom: 1px solid #d9d4d4;
    background-color: #f8b6b6;
    color: rgb(33, 33, 33);
}

.tabTitle {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid #d9d4d4;
    border-right: 1px solid #d9d4d4;
    border-bottom: 1px solid #d9d4d4;
    color: rgb(33, 33, 33);
}

.tabTitle_Active {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid #d9d4d4;
    border-right: 1px solid #d9d4d4;
    border-bottom: 1px solid #d9d4d4;
    background-color: #f8b6b6;
    color: rgb(33, 33, 33);
}

.tabCont{
    margin: auto;
    width: 100%;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
}
.tabContDetail{
    font-size: 18px;
    padding: 50px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
